.leaflet-tooltip {
  font-family: Afacad;
  padding: 0;
  margin: 0;

  border: none;
  box-shadow: none;
  background: inherit;

  color: #ffff;

  z-index: 0;
}

.leaflet-marker-icon {
  z-index: 1000;
  fill-opacity: 1;
}


